<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'stations' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span class="text-grey"><%= @stations_count %></span>
      <span><%= t('.stations.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'desks', action: 'all' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span><%= t('.desks.all.title') %></span>
    <% end %>
  </div>
</div>
