<div>
  <dt><%= Space::Room.human_attribute_name(:name) %></dt>
  <dd><%= @room.name %></dd>
</div>
<div>
  <dt><%= Space::Room.human_attribute_name(:code) %></dt>
  <dd><%= @room.code %></dd>
</div>
<div>
  <dt><%= Space::Room.human_attribute_name(:floor) %></dt>
  <dd><%= @room.floor %></dd>
</div>
<div>
  <dt><%= Space::Room.human_attribute_name(:enter_url) %></dt>
  <dt><%= image_tag @room.qrcode_enter_url %></dd>
</div>
