<div
  class=""
  data-controller="scan"
  data-scan-debug-value="false"
  data-scan-apis-value="<%= ['scanQRCode'].to_json %>"
  data-scan-options-value="<%= current_js_app&.js_config(request.original_url).to_json %>"
  data-scan-params-value="<%= { room_id: @grid.room_id, grid_id: @grid.id }.to_json %>"
>
  <button class="button is-success" data-action="scan#report" data-report-url="<%= url_for(controller: 'factory/me/production_items', action: 'warehouse_in') %>">入库产品</button>
  <button class="button is-info" data-action="scan#report" data-report-url="<%= url_for(controller: 'factory/me/production_items', action: 'warehouse_out') %>">出库产品</button>
</div>
