<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Space::Grid.human_attribute_name(:id) %></label>
      <span class="weui-form-preview__value"><%= @grid.id %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Space::Grid.human_attribute_name(:room_id) %></label>
      <span class="weui-form-preview__value"><%= @grid.room.name %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Space::Grid.human_attribute_name(:code) %></label>
      <span class="weui-form-preview__value"><%= @grid.code %></span>
    </div>
  </div>
</div>
