<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Package.human_attribute_name(:id) %></label>
      <span class="weui-form-preview__value"><%= @package.id %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Package.human_attribute_name(:address_id) %></label>
      <span class="weui-form-preview__value">
        <%= @package.address.area.full_name %>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Package.human_attribute_name(:state) %></label>
      <span class="weui-form-preview__value"><%= @package.state_i18n %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Package.human_attribute_name(:box_id) %></label>
      <span class="weui-form-preview__value"><%= @package.box_id %></span>
    </div>
  </div>
</div>
