<tr>
  <td class="has-text-centered">
    <div class="tag <%= ['grid_in'].include?(model.state) ? 'is-success' : 'is-danger' %>"><%= model.state_i18n %></div>
    <p class="text-grey"><%= model.id %></p>
  </td>
  <td class="has-text-centered">
    <p><%= model.production.name %></p>
    <p class="text-grey"><time data-controller="time" data-format="human"><%= model.came_at&.to_fs(:iso8601) %></time></p>
  </td>
</tr>
