<th><%= Space::Grid.human_attribute_name(:name) %></th>
<th><%= Space::Grid.human_attribute_name(:code) %></th>
<th>
  <span><%= Space::Grid.human_attribute_name(:width) %></span>
  <span><%= Space::Grid.human_attribute_name(:length) %></span>
  <span><%= Space::Grid.human_attribute_name(:height) %></span>
</th>
<th><%= Space::Grid.human_attribute_name(:floor) %></th>
