<td><%= model.name %></td>
<td>
  <p class="is-several">
    <span><%= model.qr_code %></span>
  </p>
  <p class="text-grey"><%= model.code %></p>
</td>
<td>
  <span><%= model.width %></span>
  <span><%= model.length %></span>
  <span><%= model.height %></span>
</td>
<td><%= model.floor %></td>
