<div>
  <dt><%= Space::Grid.human_attribute_name(:name) %></dt>
  <dd><%= @grid.name %></dd>
</div>
<div>
  <dt><%= Space::Grid.human_attribute_name(:code) %></dt>
  <dd><%= @grid.code %></dd>
</div>
<div>
  <dt>
    <span><%= Space::Grid.human_attribute_name(:width) %></span>
    <span><%= Space::Grid.human_attribute_name(:length) %></span>
    <span><%= Space::Grid.human_attribute_name(:height) %></span>
  </dt>
  <dd>
    <span><%= @grid.width %></span>
    <span><%= @grid.length %></span>
    <span><%= @grid.height %></span>
  </dd>
</div>
<div>
  <dt><%= Space::Grid.human_attribute_name(:floor) %></dt>
  <dd><%= @grid.floor %></dd>
</div>
<div>
  <dt><%= Space::Grid.human_attribute_name(:enter_url) %></dt>
  <dd><%= image_tag @grid.qrcode_enter_url %></dd>
</div>
