<tr>
  <td class="has-text-right"><%= Space::Grid.human_attribute_name(:name) %></td>
  <td><%= @grid.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Grid.human_attribute_name(:code) %></td>
  <td><%= @grid.code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Grid.human_attribute_name(:width) %></td>
  <td><%= @grid.width %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Grid.human_attribute_name(:length) %></td>
  <td><%= @grid.length %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Grid.human_attribute_name(:height) %></td>
  <td><%= @grid.height %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Grid.human_attribute_name(:floor) %></td>
  <td><%= @grid.floor %></td>
</tr>
