<div id="tr_<%= model.id %>" class="media is-boxed">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <%= link_to({ controller: 'factory/agent/productions', desk_id: model.id }, class: 'button is-success') do %>
      <span>点餐</span>
    <% end %>
    <%= link_to({ controller: 'trade/admin/desk/items', desk_id: model.id }, class: 'button is-info') do %>
      <span>查看订单</span>
    <% end %>
    <div
      class="button is-warning"
      data-controller="mask wx-share"
      data-mask-id-value="mask"
      data-wx-share-title-value="<%= current_organ.name %>"
      data-wx-share-desc-value="<%= "欢迎点餐，预定包房为：#{model.name}" %>"
      data-wx-share-link-value="<%= url_for(controller: 'factory/productions', desk_id: model.id, only_path: false) %>"
      data-wx-share-image-value="<%= current_organ.logo.url %>"
      data-action="click->mask#show click->wx-share#ready"
    >
      <span>分享</span>
    </div>
  </div>
</div>
