<div class="card is-middle">
  <div class="card-content">
    <p class="text-right"><span class="tag as-corner is-primary"><%= model.name %></span></p>
    <p class="text-centered">
      <span>待下单</span>
      <strong id="desk_count_<%= model.id %>" class="size-5 text-danger"><%= @item_hash[model.id] %></strong>
    </p>
    <p class="text-centered">
      <span>已下单</span>
      <strong id="ordered_count_<%= model.id %>" class="size-5 text-danger"><%= @ordered_hash[model.id] %></strong>
    </p>
  </div>
  <div class="card-footer">
    <%= link_to({ controller: 'factory/agent/productions', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>点餐</span>
    <% end %>
    <%= link_to({ controller: 'trade/admin/items', action: 'desk', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>查看订单</span>
    <% end %>
  </div>
</div>
