<div class="card as-horizontal">
  <div class="card-content">
    <div class="text-centered text-primary size-1"><%= model.name %></div>
  </div>
  <div class="card-footer">
    <%= link_to({ controller: 'factory/agent/productions', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>点餐</span>
    <% end %>
    <%= link_to({ controller: 'trade/admin/desk/orders', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>待下单</span>
      <strong id="desk_count_<%= model.id %>" class="size-5 text-danger ml-1"><%= @item_hash[model.id] %></strong>
    <% end %>
    <%= link_to({ controller: 'trade/admin/desk/orders', desk_id: model.id }, class: 'card-footer-item') do %>
      <span>已下单</span>
      <strong id="ordered_count_<%= model.id %>" class="size-5 text-danger ml-1"><%= @ordered_hash[model.id] %></strong>
    <% end %>
  </div>
</div>
