<tr>
  <td><%= Space::Room.human_attribute_name(:name) %></td>
  <td><%= @room.name %></td>
</tr>
<tr>
  <td><%= Space::Room.human_attribute_name(:code) %></td>
  <td><%= @room.code %></td>
</tr>
<tr>
  <td><%= Space::Room.human_attribute_name(:floor) %></td>
  <td><%= @room.floor %></td>
</tr>
