<tr>
  <td><%= Space::Grid.human_attribute_name(:name) %></td>
  <td><%= @grid.name %></td>
</tr>
<tr>
  <td><%= Space::Grid.human_attribute_name(:code) %></td>
  <td><%= @grid.code %></td>
</tr>
<tr>
  <td class="has-text-right">
    <span><%= Space::Grid.human_attribute_name(:width) %></span>
    <span><%= Space::Grid.human_attribute_name(:length) %></span>
    <span><%= Space::Grid.human_attribute_name(:height) %></span>
  </td>
  <td>
    <span><%= @grid.width %></span>
    <span><%= @grid.length %></span>
    <span><%= @grid.height %></span>
  </td>
</tr>
<tr>
  <td><%= Space::Grid.human_attribute_name(:floor) %></td>
  <td><%= @grid.floor %></td>
</tr>
<tr>
  <td><%= Space::Grid.human_attribute_name(:qr_code) %></td>
  <td><%= image_tag @grid.qrcode_url %></td>
</tr>
