<li><%= link_to t('.stations.index.title'), { controller: 'stations' } %></li>
<li><span class="px-3"><%= @room.station.name %></span></li>
<li><%= link_to t('.rooms.index.title'), { controller: 'rooms' } %></li>
<li><span class="px-3"><%= @room.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
