<div
  data-controller="common"
  class="field"
>
  <label class="label text-grey"><%= Space::Station.human_attribute_name(:area_id) %></label>
  <div id="area_id_wrapper" class="field is-grouped">
    <%= f.hidden_field :area_id %>
    <% f.object.area.ancestors.each do |ancestor| %>
      <%= text_field_tag :provinceName, ancestor.name, readonly: true, data: { url: url_for(controller: '/ship/areas', action: 'child', scope: 'station', id: ancestor.id), action: 'click->common#stream' }, class: 'input' %>
    <% end if f.object.area.names %>
    <%= text_field_tag :provinceName, nil, readonly: true, data: { url: url_for(controller: '/ship/areas', scope: 'station'), action: 'click->common#stream' }, class: 'input' if f.object.area.names.blank? %>
  </div>
</div>
<%= f.text_field :name %>
<%= f.text_field :detail %>
<%= f.text_field :code %>
