<tr>
  <td class="has-text-right"><%= Station.human_attribute_name(:area_id) %></td>
  <td><%= @station.area_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Station.human_attribute_name(:name) %></td>
  <td><%= @station.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Station.human_attribute_name(:detail) %></td>
  <td><%= @station.detail %></td>
</tr>
