<div>
  <dt><%= Space::Desk.human_attribute_name(:name) %></dt>
  <dd><%= @desk.name %></dd>
</div>
<div>
  <dt><%= Space::Desk.human_attribute_name(:code) %></dt>
  <dd><%= @desk.code %></dd>
</div>
<div>
  <dt><%= Space::Desk.human_attribute_name(:enter_url) %></dt>
  <dd><%= image_tag @desk.qrcode_product_url %></dd>
</div>
