<tr>
  <td class="has-text-right"><%= Space::Desk.human_attribute_name(:name) %></td>
  <td><%= @desk.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Desk.human_attribute_name(:code) %></td>
  <td><%= @desk.code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Space::Desk.human_attribute_name(:enter_url) %></td>
  <td><%= image_tag @desk.qrcode_enter_url %></td>
</tr>
