<th><%= Space::Station.human_attribute_name(:area_id) %></th>
<th><%= Space::Station.human_attribute_name(:name) %></th>
<th><%= Space::Station.human_attribute_name(:detail) %></th>
<th>
  <p><%= Space::Station.human_attribute_name(:buildings_count) %></p>
  <p><%= Space::Station.human_attribute_name(:rooms_count) %></p>
</th>
